p1 {
	font-family: Courier;
	font-size: 12px;
	color: #DDDDDD;
	text-align: right;
}

p2 {
	font-family: Courier;
	font-size: 12px;
	color: #00FF33;
	text-align: right;
}

p3 {
	font-family: Courier;
	font-size: 12px;
	color: #000000;
	text-align: right;
}